<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <!-- Include the AngularJS library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    
  </head>
  <body ng-app="myApp">

    <div class="main" ng-controller="MainController">
      <div class="container">
        <div class="row">
        <h3 style="margin-top: 10vh">How to approach fb the Dashmote way</h3>
        <h4>The target audience are graphic (print/web) designers, agencies, coworking spaces...</h4>
        </br>
        <h4>-->The goal is to get a follower base that is actively participating in the online community. So we are looking for people that:</h4>
        </br>
        <h4># post a lot</h4>
        </br>
        <h4># fit into the target group/possible customers</h4>
        </br>
        <h4># have style</h4>
        </br>
        <h4># are recognized</h4>

        <h3 style="margin-top: 10vh">How to do that.</h3>
        <h4>Differently than Instagram or Twitter, here we can like more pages. That doesn’t hurt us, because it does not show up on the news feed. We can like their posts as well, because it does not affect our “wall”. Commenting can also be done, but should not overdo it. </h4>
        </br>
        <h4>Comment on group posts if it has anything to do with finding images. Better not to create your own posts, because referencing does wonders. Also there we can only post with our private accounts - try to keep it as informal as possible, as if someone else showed it to you. Lastly a benefit is that we can use our international setting at the office for our advantage by commenting in different languages in groups with different languages.</h4>
        </br>
        <a href="https://docs.google.com/spreadsheets/d/1eBXgpxT0v4MMN1ao1wNiF04mihg72rHCQVrfuUxZmvs/edit#gid=10022216"><h4>Doc with our target group lists</h4></a>


          <div class="posts" ng-repeat="insta in instas">
            <a target="_blank" href="{{insta.link}}">
            <h3>{{insta.title }}</h3></a>
            <h4>{{insta.comment}}</h4>
             <div style="background:#053C5E;color: white; border-radius: 5px; width: 150px ;font-size: 18px;height: 35px; padding-left: 15px; padding-top: 5px ">{{insta.tag}}</div>
            <img  class="images" ng-repeat="image in insta.images"  ng-src="{{image}}"></img>
            </div>
              
          </div> 
        </div>
      </div>
       
    </div>
  

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Services -->
    <script src="js/services/test.js"></script>
    
    

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
    
    <!-- Directives -->


  </body>
</html>
